.navigation {
    min-height: 20em;
    background-color: rgb(52, 231, 52) !important;
}

.placeholderMap {
    max-width: 100%;
}

.shareBtn{
    margin-left: auto;
}

.refreshBtn{
    margin-left: auto;
}